{% extends 'layout.html' %} {% block content %}
<h1>{{title}}</h1>
<a href="/" id="exit-btn">방 나가기</a>
<h1 id="manager"></h1>
<fieldset>
  <legend>채팅 내용</legend>
  <div id="chat-list">
    {% for chat in chats %} {% if chat.user === user %}
    <div class="mine" style="color: {{chat.user}}">
      <div>{{chat.user}}</div>
      {% if chat.gif %}
      <img src="/gif/{{chat.gif}}" />
      {% else %}
      <div>{{chat.chat}}</div>
      {% endif %}
    </div>
    {% elif chat.user === 'system' %}
    <div class="system">
      <div>{{chat.chat}}</div>
    </div>
    {% else %}
    <div class="other" style="color: {{chat.user}}">
      <div>{{chat.user}}</div>
      {% if chat.gif %}
      <img src="/gif/{{chat.gif}}" />
      {% else %}
      <div>{{chat.chat}}</div>
      {% endif %}
    </div>
    {% endif %} {% endfor %}
  </div>
</fieldset>
<form action="/chat" id="chat-form" method="post" enctype="multipart/form-data">
  <label for="gif">GIF 올리기</label>
  <input type="file" id="gif" name="gif" accept="image/gif" />
  <input type="text" id="chat" name="chat" />
  <button type="submit">전송</button>
</form>
<div id="user-list"></div>
<form accept="/dm" id="dm-form">
  <label for="dm-gif">DM GIF 올리기</label>
  <input type="file" id="dm-gif" name="dm-gif" accept="image/gif" />
  <label for="dm-chat">메시지</label>
  <input type="text" id="dm-chat" name="dm-chat" />
  <label for="dm-id">ID</label>
  <input type="text" id="dm-id" name="dm-id" />
  <button type="submit">DM 전송</button>
</form>
<div id="manager-area" style="display: none;">
  <label for="manager-kick">이름</label>
  <input type="text" id="manager-kick" name="manager-kick" />
  <button type="button" id="manager-btn">강퇴하기</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect("http://localhost:3000/chat", {
    path: "/socket.io",
  });
  socket.emit("join", new URL(location).pathname.split("/").at(-1)); // .pathname.split("/").at(-1) : 현재 url의 마지막 경로를 가져옴 (ex. /room/650af88754f0857acd8913d9 -> 650af88754f0857acd8913d9)
  socket.emit("getUserList", new URL(location).pathname.split("/").at(-1));

  socket.on("kick", async function (data) {
    let message = data.message;

    location.href = `/?message=${message}`;
  });

  socket.on("join", function (data) {
    const div = document.createElement("div");
    div.classList.add("system");
    const chat = document.createElement("div");
    chat.textContent = `
      ${data.chat}
      현재 인원 : ${data.userCount} 명
    `;
    div.appendChild(chat);
    document.querySelector("#chat-list").appendChild(div);

    socket.emit("getUserList", new URL(location).pathname.split("/").at(-1));
  });
  socket.on("exit", function (data) {
    const div = document.createElement("div");
    div.classList.add("system");
    const chat = document.createElement("div");
    chat.textContent = `
      ${data.chat}
      현재 인원 : ${data.userCount} 명
    `;
    div.appendChild(chat);
    document.querySelector("#chat-list").appendChild(div);

    socket.emit("getUserList", new URL(location).pathname.split("/").at(-1));
  });
  socket.on("chat", function (data) {
    const div = document.createElement("div");
    div.classList.add("other");
    const user = document.createElement("div");
    user.textContent = data.user;
    user.style.color = data.user;
    div.appendChild(user);
    if (data.gif) {
      const img = document.createElement("img");
      img.src = "/gif/" + data.gif;
      div.appendChild(img);
    } else {
      const chat = document.createElement("div");
      chat.textContent = data.chat;
      div.appendChild(chat);
    }
    document.querySelector("#chat-list").appendChild(div);
  });
  socket.on("postUserList", function (data) {
    const div = document.querySelector("#user-list");
    div.innerHTML = "";
    for (let i = 0; i < data.userList.length; i++) {
      let user = document.createElement("div");
      user.textContent = data.userList[i];
      if (data.userList[i] != socket.id) user.classList.add("other");
      else continue;
      div.appendChild(user);
    }

    let manager = document.querySelector("#manager");
    if (socket.id == data.userList[0]) manager.innerHTML = "나";
    else manager.innerHTML = data.userList[0];

    if (manager.innerHTML == "나") {
      document.querySelector("#manager-area").style.display = "block";
    } else {
      document.querySelector("#manager-area").style.display = "none";
    }
  });
  socket.on("dm", function (data) {
    const div = document.createElement("div");
    div.classList.add("dm");
    const user = document.createElement("div");
    user.textContent = `direct message from ${data.user}`;
    user.style.color = data.user;
    div.appendChild(user);
    if (data.gif) {
      const img = document.createElement("img");
      img.src = "/gif/" + data.gif;
      div.appendChild(img);
    } else {
      const chat = document.createElement("div");
      chat.textContent = data.chat;
      div.appendChild(chat);
    }
    document.querySelector("#chat-list").appendChild(div);
  })

  socket.on("kick", function (data) {

  })

  document.querySelector("#chat-form").addEventListener("submit", function (e) {
    e.preventDefault();
    const chat = document.querySelector("#chat").value;
    const gif = document.querySelector("#gif").files[0];
    const room = new URL(location).pathname.split("/").at(-1);
    const user = "{{user}}";

    console.log(chat, gif, room, user);

    const formData = new FormData();
    formData.append("chat", chat);
    formData.append("gif", gif);
    formData.append("room", room);
    formData.append("user", user);

    fetch("/chat", {
      method: "POST",
      body: formData,
    })
      .then((res) => res.json())
      .then((data) => {
        socket.emit("chat", data);

        document.querySelector("#chat").value = "";
        document.querySelector("#gif").value = "";

        const div = document.createElement("div");
        div.classList.add("mine");
        const user = document.createElement("div");
        user.textContent = data.user;
        user.style.color = data.user;
        div.appendChild(user);
        if (data.gif) {
          const img = document.createElement("img");
          img.src = "/gif/" + data.gif;
          div.appendChild(img);
        } else {
          const chat = document.createElement("div");
          chat.textContent = data.chat;
          div.appendChild(chat);
        }
        document.querySelector("#chat-list").appendChild(div);
      });
  });

  document.querySelector("#dm-form").addEventListener("submit", (e) => {
    e.preventDefault();

    const chat = document.querySelector("#dm-chat").value;
    const gif = document.querySelector("#dm-gif").files[0];
    const room = new URL(location).pathname.split("/").at(-1);
    const user = "{{user}}";

    const id = document.querySelector("#dm-id").value;

    const formData = new FormData();
    formData.append("chat", chat);
    formData.append("gif", gif);
    formData.append("room", room);
    formData.append("user", user);

    fetch("/chat", {
      method: "POST",
      body: formData,
    })
      .then((res) => res.json())
      .then((data) => {
        socket.emit("dm-request", {
          id: id,
          chat: data.chat,
          gif: data.gif,
          user: data.user,
        });

        document.querySelector("#dm-chat").value = "";
        document.querySelector("#dm-gif").value = "";
      });

  })

  document.querySelector("#manager-btn").addEventListener("click", (e) => {
    e.preventDefault();

    const user = document.querySelector("#manager-kick").value;

    socket.emit("kickUser", user);
  });
</script>
{% endblock %}