{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <fieldset>
    <legend>채팅방 생성</legend>
    <form action="/room" method="post">
      <div class="form-group">
        <label for="title">방 제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="방 제목">
      </div>
      <div class="form-group">
        <label for="max">수용 인원(최소 2명)</label>
        <input type="number" class="form-control" id="max" name="max" placeholder="수용 인원(최소 2명)" min="2" value="10">
      </div>
      <div class="form-group">
        <label for="password">비밀번호(없으면 공개방)</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호(없으면 공개방)">
      </div>
      <button type="submit" class="btn btn-primary">생성</button>
    </form>
  </fieldset>
</div>
{% endblock %}